//Colors
$primary-color: #871e35;
$secondary-color: #ffff;
//Hover
$primary-hover-color: darken($primary-color, 10%);
//Text
$primary-text-color: #ffff;
$secondary-text-color: #24221e;
//Style
$padding: 16px 32px 16px 32px;
$border: 1px solid;
$radius: 6.5px;
$height: 56px;

.primary-btn {
  background-color: $primary-color;
  color: $primary-text-color;
  border: $border;
  border-radius: $radius;
  padding: $padding;
  font-size: 16px;
  font-weight: 400;
  font-family: "inter";
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: $primary-color;
  cursor: pointer;
  width: 100%;

  // &.width-50 {
  //   width: 50%; /* 50% of the parent container's width */
  // }
  // &.width-30 {
  //   width: 30%;
  // }
  // &.width-80 {
  //   width: 80%;
  // }
  // &.width-20 {
  //   width: 20%;
  // }
  @media (max-width: 768px) {
    &.width-50 {
      width: 90%; /* On smaller screens, the width becomes 90% */
    }
  }
}

.secondary-btn {
  background-color: $secondary-color;
  color: $secondary-text-color;
  border: $border;
  border-radius: $radius;
  padding: $padding;
  font-size: 16px;
  border-color: $secondary-text-color;
  font-weight: 400;
  font-family: "inter";
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.width-40 {
    width: 40%;
  }
  &.width-60 {
    width: 60%;
  }

  /* Responsive Example */
  @media (max-width: 768px) {
    &.width-40 {
      width: 80%; /* Adjusts on smaller screens */
    }
  }
}
