<section class="mobile-application">
  <div class="mobile-application-div">
    <div class="mobile-application-img">
      <img src="/assets/Container.png" alt="mobile application" />
    </div>

    <div class="mobile-application-content">
      <p class="content-title align-text">Mobile Application</p>
      <p class="content-text align-text">
        Download our apps of your mobile phone for service
      </p>
      <p class="text margin">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy
      </p>
      <div>
        <ul style="list-style-type: none">
          <li class="content-list">
            <img src="/assets/Background.png" alt="arrow" />
            <p>Lorem Ipsum is simply dummy</p>
          </li>
          <li class="content-list">
            <img src="/assets/Background.png" alt="arrow" />
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </li>
          <li class="content-list">
            <img src="/assets/Background.png" alt="arrow" />
            <p>Lorem Ipsum is simply dummy</p>
          </li>
        </ul>
      </div>
      <div class="download">
        <img src="/assets/AppStoreTransparent.png" alt="appstore" />
        <img src="/assets/GooglePlayTransparent.png" alt="googleplay" />
      </div>
    </div>
  </div>
</section>
