<h1>Settings</h1>

<ul class="sub-nav">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/my-account/settings" routerLinkActive="active">Profile</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/my-account/change-password">Change Password</a>
  </li>
</ul>

<div class="contact">
  <div class="input-wrapper">
    <div class="data-container">
      <label>Current Password</label>
      <div class="input-icon-wrapper" class="input-width">
        <input
          class="input-field"
          placeholder="Type here"
          type="password"
          for="Current-password"
          name="Current-password"
        />
      </div>
    </div>
  </div>
  <div class="input-wrapper">
    <div class="data-container">
      <label>New Password</label>
      <div class="input-icon-wrapper" class="input-width">
        <input
          class="input-field"
          placeholder="Type here"
          type="password"
          for="new-password"
          name="new-password"
        />
      </div>
    </div>
  </div>
</div>

<div class="btn-width">
  <app-button buttonType="primary" buttonText="Update Password"></app-button>
</div>
