<h1>Settings</h1>

<ul class="sub-nav">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/my-account/settings" routerLinkActive="active">Profile</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/my-account/change-password">Change Password</a>
  </li>
</ul>

<div class="contact">
  <app-input
    label="Current Password"
    placeholder="Type here"
    type="password"
    for="Current-password"
    name="Current-password"
    class="input-width"
  ></app-input>
  <app-input
    label="New Password"
    placeholder="Type here"
    type="password"
    for="new-password"
    name="new-password"
    class="input-width"
  ></app-input>
</div>

<div class="btn-width">
  <app-button buttonType="primary" buttonText="Update Password"></app-button>
</div>
