<h1>Settings</h1>

<ul class="sub-nav">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/my-account/settings" routerLinkActive="active">Profile</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/my-account/change-password">Change Password</a>
  </li>
</ul>

<form
  [formGroup]="changeForm"
  (ngSubmit)="onSubmit()"
  style="width: 100%; height: 100%"
>
  <div>
    <div class="contact">
      <!-- Current Password Field -->
      <div class="input-wrapper">
        <div class="data-container">
          <label>Current Password</label>
          <div class="input-icon-wrapper" class="input-width">
            <input
              class="input-field"
              placeholder="Type here"
              type="password"
              formControlName="currentPassword"
            />
            <div
              *ngIf="
                changeForm.get('currentPassword')?.invalid &&
                changeForm.get('currentPassword')?.touched
              "
            >
              <small
                *ngIf="changeForm.get('currentPassword')?.errors"
                style="color: red"
                >Current password is required.</small
              >
            </div>
          </div>
        </div>
      </div>

      <!-- New Password Field -->
      <div class="input-wrapper">
        <div class="data-container">
          <label>New Password</label>
          <div class="input-icon-wrapper" class="input-width">
            <input
              class="input-field"
              placeholder="Type here"
              type="password"
              formControlName="newPassword"
            />
            <div
              *ngIf="
                changeForm.get('newPassword')?.invalid &&
                changeForm.get('newPassword')?.touched
              "
            >
              <small
                *ngIf="changeForm.get('newPassword')?.errors"
                style="color: red"
                >New password must be at least 8 characters long.</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-width">
      <app-button
        buttonType="primary"
        buttonText="Update Password"
        (click)="onSubmit()"
      ></app-button>
    </div>
  </div>
</form>
