h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-top: 32px;
  margin-bottom: 48px;
  color: #3c3a37;
}

.sub-nav {
  height: 46px;
  list-style: none;
  display: flex;
  gap: 24px;
  margin-bottom: 32px;

  li {
    &.active {
      border-bottom: 2px solid #871e35;
      a {
        color: #871e35;
      }
    }

    a {
      text-decoration: none;
      color: #6e6d6b;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: #871e35;
      }
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;

  .input-width {
    width: 365px;
  }
}

.btn-width {
  margin-top: 24px;
  width: 174px;
}
