<h1>Settings</h1>

<ul class="sub-nav">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/my-account/settings" routerLinkActive="active">Profile</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/my-account/change-password">Change Password</a>
  </li>
</ul>
<div class="input-wrapper">
  <div class="data-container">
    <label>Full Name</label>
    <div class="input-icon-wrapper">
      <input
        class="input-field"
        placeholder="Jonathon Smith"
        type="text"
        for="name"
        name="name"
      />
    </div>
  </div>
</div>
<div class="input-wrapper">
  <div class="data-container">
    <label>Country</label>
    <div class="input-icon-wrapper">
      <input
        class="input-field"
        placeholder="UK"
        type="text"
        for="country"
        name="country"
      />
    </div>
  </div>
</div>

<div class="contact">
  <div class="input-wrapper">
    <div class="data-container">
      <label>Phone</label>
      <div class="input-icon-wrapper" class="input-width">
        <input
          class="input-field"
          placeholder="+880125412624"
          type="number"
          for="phone-number"
          name="phone-number"
        />
      </div>
    </div>
  </div>

  <div class="input-wrapper">
    <div class="data-container">
      <label>Email</label>
      <div class="input-icon-wrapper" class="input-width">
        <input
          class="input-field"
          placeholder="jhonathonsmith@gmail.com"
          type="Email"
          for="email"
          name="email"
        />
      </div>
    </div>
  </div>
</div>

<div class="btn-width">
  <app-button buttonType="primary" buttonText="Update Profile"></app-button>
</div>
