<nav class="navbar">
  <div class="navbar__logo">
    <a routerLink="/">Speedo Transfer</a>
  </div>
  <div>
    <svg
      routerLink="/"
      class="closingIcon"
      width="49"
      height="48"
      viewBox="0 0 49 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M14.4414 34.4876L24.9274 24.0016L35.4134 34.4876M35.4134 13.5156L24.9254 24.0016L14.4414 13.5156"
        stroke="#24221E"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</nav>
<div class="register-page">
  <!--Form Conatiner With Login Message-->
  <div class="form-container">
    <div class="form-header">
      <h2>Create Your Account</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
        tempor incididunt ut labore.
      </p>
    </div>

    <!--Register Form-->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!--Full Name-->
      <div class="input-wrapper">
        <div class="data-container">
          <label for="name">Full Name</label>
          <div class="input-icon-wrapper">
            <input
              type="name"
              placeholder="Full Name"
              class="input-field"
              name="name"
              formControlName="name"
              required
            />
          </div>
        </div>
      </div>

      <!--Email-->
      <div class="input-wrapper">
        <div class="data-container">
          <label for="email">Email</label>
          <div class="input-icon-wrapper">
            <input
              type="email"
              placeholder="Email Address"
              class="input-field"
              name="email"
              formControlName="email"
              required
            />
          </div>
        </div>
      </div>
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      >
        <small *ngIf="loginForm.get('email')?.errors?.['required']"
          >Email is required.</small
        >
        <small *ngIf="loginForm.get('email')?.errors?.['email']"
          >Invalid email format.</small
        >
      </div>

      <div class="input-wrapper">
        <label>Country</label>
        <div class="input-icon-wrapper">
          <div class="country">
            <select
              type="select"
              placeholder="Country"
              required
              formControlName="country"
              name="country"
              required
            >
              @for (country of countries; track $index) {
              <option>{{ country.name }}</option>
              }
            </select>
          </div>
        </div>
      </div>

      <label>Date of birth</label>
      <div class="DOB-container">
        <div class="dayOfBirth">
          <!--Day-->
          <div class="input-wrapper">
            <div class="data-container">
              <label for="day">Day</label>
              <div class="input-icon-wrapper">
                <input
                  type="text"
                  placeholder="DD"
                  class="input-field"
                  name="dayOfBirth"
                  formControlName="dayOfBirth"
                  required
                />
              </div>
            </div>
          </div>
        </div>
        <div class="monthOfBirth">
          <label>Month</label>
          <select
            placeholder="MM"
            formControlName="monthOfBirth"
            name="monthOfBirth"
            required
          >
            @for (month of months; track $index) {
            <option>{{ month.name }}</option>
            }
          </select>
        </div>
        <div class="yearOfBirth">
          <label>Year</label>
          <select
            placeholder="YYYY"
            formControlName="yearOfBirth"
            name="yearOfBirth"
            required
          >
            @for (year of years; track $index) {
            <option>{{ year.name }}</option>
            }
          </select>
        </div>
      </div>

      <!--Password-->
      <div class="input-wrapper">
        <div class="data-container">
          <label for="password">Password</label>
          <div class="input-icon-wrapper">
            <input
              type="password"
              placeholder="************"
              class="input-field"
              name="password"
              formControlName="password"
              required
            />
          </div>
        </div>
      </div>
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        <small *ngIf="loginForm.get('password')?.errors?.['required']"
          >Password is required.</small
        >
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']"
          >Password must be at least 8 characters long.</small
        >
      </div>

      <!--ConfirmPassword-->
      <div class="input-wrapper">
        <div class="data-container">
          <label for="password">Confirm Password</label>
          <div class="input-icon-wrapper">
            <input
              type="password"
              placeholder="************"
              class="input-field"
              name="confirmpassword"
              formControlName="confirmpassword"
              required
            />
          </div>
        </div>
      </div>
      <!-- Show password mismatch error -->
      <div *ngIf="loginForm.errors?.['passwordsDontMatch'] && formSubmitted">
        <small>Passwords do not match.</small>
      </div>
      <p style="margin: 10px">
        The password should be at least eight characters long. To make it
        stronger, use upper and lower case letters, numbers, and symbols like !
        " ? $ % ^ &
      </p>
      <div style="width: 100%" style="margin: 20px">
        <app-button
          (click)="signUp()"
          buttonType="primary"
          buttonText="Create an Account"
          type="submit"
        >
        </app-button>

        <!--form is invalid-->
        <div *ngIf="formSubmitted && loginForm.invalid">
          <p style="color: red">
            Please fix the errors in the form before submitting.
          </p>
        </div>

        <!--form is valid and submitted -->
        <div *ngIf="formSubmitted && loginForm.valid" class="success-message">
          <p style="color: red">Form Submitted Successfully!</p>
        </div>
      </div>
    </form>

    <!--Login-->
    <p style="margin: 50px">
      Already have an account? <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
<footer>
  <p>©Speedo Transfer Payments Limited 2024</p>
</footer>
