<nav class="navbar">
  <div class="navbar__logo">
    <a routerLink="/">Speedo Transfer</a>
  </div>
  <div>
    <svg
      routerLink="/"
      class="closingIcon"
      width="49"
      height="48"
      viewBox="0 0 49 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M14.4414 34.4876L24.9274 24.0016L35.4134 34.4876M35.4134 13.5156L24.9254 24.0016L14.4414 13.5156"
        stroke="#24221E"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</nav>
<div class="register-page">
  <!--Form Conatiner With Login Message-->
  <div class="form-container">
    <div class="form-header">
      <h2>Create Your Account</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
        tempor incididunt ut labore.
      </p>
    </div>

    <!--Register Form-->
    <form>
      <app-input
        label="Full name"
        placeholder="Full name"
        for="name"
        type="name"
        required
      >
      </app-input>
      <!--small class="error">This Field Is Required</!--small-->

      <app-input
        label="Email"
        placeholder="Email Address"
        for="email"
        type="email"
        required
      >
      </app-input>

      <div class="input-wrapper">
        <label>Country</label>
        <div class="input-icon-wrapper">
          <div class="country">
            <select type="select" placeholder="Country" required>
              @for (country of countries; track $index) {
              <option>{{ country.name }}</option>
              }
            </select>
          </div>
        </div>
      </div>

      <label>Date of birth</label>
      <div class="DOB-container">
        <div class="dayOfBirth">
          <app-input
            label="Day"
            placeholder="DD"
            for="day"
            type="number"
            required
          >
          </app-input>
        </div>
        <div class="monthOfBirth">
          <label>Month</label>
          <select placeholder="MM" required>
            @for (month of months; track $index) {
            <option>{{ month.name }}</option>
            }
          </select>
        </div>
        <div class="yearOfBirth">
          <label>Year</label>
          <select placeholder="YYYY" required>
            @for (year of years; track $index) {
            <option>{{ year.name }}</option>
            }
          </select>
        </div>
      </div>

      <app-input
        label="Password"
        placeholder="************"
        for="password"
        type="password"
        required
      >
      </app-input>

      <app-input
        label="Confirm Password"
        placeholder="************"
        for="cpnfirmpassword"
        type="password"
        required
      >
      </app-input>
      <p>
        The password should be at least eight characters long. To make it
        stronger, use upper and lower case letters, numbers, and symbols like !
        " ? $ % ^ & )
      </p>
      <!--small class="error">This Field Is Required</!--small-->
    </form>
    <div style="width: 100%">
      <app-button
        (click)="signUp()"
        buttonType="primary"
        buttonText="Create an Account"
      >
      </app-button>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </div>
</div>
<footer>
  <p>©Speedo Transfer Payments Limited 2024</p>
</footer>
