$primary-color: #6c1c24;
$secondary-color: #6c7686;
$third-color: #24221e;
$error-color: #ff0000;
$font-family: "inter";

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__logo {
    font-size: 2rem;
    font-weight: 600;
    flex-grow: 1;
    a {
      text-decoration: none;
      color: $third-color;
      width: 150px;
    }
  }

  .closingIcon {
    cursor: pointer;
  }
}
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 70px;
}

.header-container {
  text-align: center;
  margin-bottom: 24px;

  h1.login {
    font-weight: 600;
    color: $third-color;
    margin-bottom: 8px;
    font-family: $font-family;
    font-size: 40px;
    justify-content: center;
    gap: 16px;
  }

  p {
    font-size: 1rem;
    color: $secondary-color;

    a {
      color: $secondary-color;
      font-weight: 500;
      font-family: $font-family;
      text-decoration: none;
      font-size: 16px;
      height: 24px;
      width: 60px;
      text-decoration: underline;
    }
  }
}

.form-container {
  background-color: #ffffff;
  width: 565px;
  height: 600px;
  align-items: center;
  padding: 64px 32px 64px 32px;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0px 20px 32px rgba(108, 120, 134, 0.1);
  display: flex;
  flex-direction: column;
  gap: 32px;

  form {
    width: 100% fill;
    gap: 32px;
    height: 296px;
  }
}

.form-header {
  width: 501px;
  height: 88px;
  gap: 16px;

  h2 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 32px;
    height: 48px;
    color: $third-color;
  }

  p {
    width: 100%;
    height: 24px;
    font-family: $font-family;
    font-size: 16px;
    margin-bottom: 32px;
    color: $secondary-color;
  }
}

small.error {
  color: $error-color;
  font-size: 12px;
  margin: 0px 0px 10px 5px;
  display: block;
}

p {
  margin-top: 16px;
  font-size: 1rem;

  a {
    font-weight: bold;
    text-decoration: none;
    color: $primary-color;
    text-decoration: underline;
  }
  .button {
    width: 100%;
  }
}

footer {
  background-color: #f3e9eb !important;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 56px;
  padding: 16px 8px 16px 8px;
  gap: 8px;
  text-align: center;

  p {
    color: $third-color;
    margin: 0px;
  }
}

.warning {
  width: 600px;
  height: 150px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: auto;

  .warningMessage {
    display: flex;
    align-items: center;
    padding: 20px;

    .icon {
      font-size: 24px;
      font-weight: bold;
      margin-right: 10px;
      color: #333;
      border-radius: round($number: 5);
    }

    span {
      font-size: 16px;
      color: #333;
    }
    .closingIcon {
      cursor: pointer;
    }
  }
}
.warningIcon {
  gap: 20;
  margin: 20px;
}

$width: 501px;
$height: 56px;
$radius: 8px;
$border: 1px solid;
$color: #fff;
$text: #b0afae;
$labelText: #3c3a37;
$font: "inter";
$placeHolderwidth: 168.64px;
$placeHolderHeight: 24px;
$placeHolderPadding: 56px 0px 0px 0px;

* {
  font-family: $font;
}

.input-field {
  color: #000;
  width: 100%;
  height: $height;
  border: $border;
  border-color: $text;
  border-radius: $radius;
  background-color: $color;

  &::placeholder {
    color: $text;
    font-family: "inter";
    font-weight: 400;
    font-size: 16px;
    height: $placeHolderHeight;
    padding: $placeHolderPadding;
  }
}

.data-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label {
  color: $labelText;
  font-weight: 400;
  font-family: $font;
  margin-bottom: 8px;

  &.fontWeight {
    font-weight: 500;
  }

  &.textColor {
    color: #24221e;
  }
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-icon-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
input {
  flex-grow: 1;
  padding: 0px 0px 0px 20px;
}
