<nav class="navbar">
  <div class="navbar__logo">
    <a href="/">Speedo Transfer</a>
  </div>
  <ul class="navbar__links">
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="money-transfer">Money Transfer</a></li>
    <li><a routerLink="my-account">My Account</a></li>
    <li><a routerLink="help">Help</a></li>
  </ul>

  <div class="navbar__actions">
    <button class="btn btn--login">Login</button>
    <button class="btn btn--register">Register Now</button>
  </div>
</nav>
