<header class="header-section">
  <div class="create-account">
    <p class="desc-header">Simple.Quick.Secure</p>
    <h2>Send Money Anywhere, Instantly</h2>
    <p class="desc-body">
      Fast, secure, and affordable international money transfers. Get started in
      minutes
    </p>
    <app-button
      routerLink="signup"
      buttonType="primary"
      buttonText="Create an Account"
      [ngClass]="'width-501'"
    ></app-button>
  </div>
  <div class="continue">
    <app-input
      label="Send Amount"
      placeholder="1000"
      type="number"
      for="amount"
      name="amount"
      [ngClass]="'width-417'"
      ngClass="'fontWeight"
    ></app-input>
    <p class="time">
      <span class="time-span">Delivery Time: </span>By May 20th
    </p>
    <app-button
      routerLink="login"
      style="width: 100%"
      buttonType="primary"
      buttonText="Continue"
      [ngClass]="'width-417'"
    ></app-button>
    <p class="agreement">
      By Clicking Continue, I agree with
      <span class="agreement-span">Terms & Policy</span>
    </p>
  </div>
</header>

<section class="getting-started">
  <div class="content">
    <div class="content-title-div">
      <p class="content-title">Getting Started</p>
      <p class="content-text">
        Lorem Ipsum is simply dummy text of the printing.
      </p>
    </div>

    <div class="content-card">
      <!-- first card -->
      <div class="card">
        <div class="img-background">
          <img
            class="card-img"
            src="/assets/CreateAccount1.png"
            alt="create account"
          />
        </div>
        <div class="card-paragraph">
          <ol>
            <li class="card-list-item">Create Account</li>
          </ol>
          <p class="text">
            Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>

      <!-- second card -->
      <div class="card">
        <div class="img-background">
          <img
            class="card-img"
            src="/assets/VerifyIdentity1.png"
            alt="verify identity"
          />
        </div>
        <div class="card-paragraph">
          <ol start="2">
            <li class="card-list-item">Confirmation</li>
          </ol>
          <p class="text">
            Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>

      <!-- third card -->
      <div class="card">
        <div class="img-background">
          <img
            class="card-img"
            src="/assets/TapYourAccount2.png"
            alt="payment"
          />
        </div>
        <div class="card-paragraph">
          <ol start="3">
            <li class="card-list-item">Payment</li>
          </ol>
          <p class="text">
            Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-mobile-application></app-mobile-application>
<app-footer></app-footer>
