<div class="sidebar">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/my-account">My Profile</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/my-account/payment-history">Payment History</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/my-account/settings">Settings</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/my-account/change-password">Change Password</a>
    </li>
  </ul>
</div>
