<nav class="navbar">
  <div class="navbar__logo">
    <a routerLink="/">Speedo Transfer</a>
  </div>
  <ul class="navbar__links">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="money-transfer" routerLinkActive="active"
        >Money Transfer</a
      >
    </li>
    <li><a routerLink="my-account" routerLinkActive="active">My Account</a></li>
    <li><a routerLink="help" routerLinkActive="active">Help</a></li>
  </ul>

  <div class="navbar__actions">
    <app-button
      routerLink="login"
      buttonType="secondary"
      buttonText="Login"
      [ngClass]="'width-107'"
    ></app-button>

    <app-button
      routerLink="signup"
      buttonType="primary"
      buttonText="Register Now"
      [ngClass]="'width-167'"
    ></app-button>
  </div>
</nav>
