<footer class="footer">
  <div class="container">
    <div class="footer__title">
      <h2>Speedo Transfer</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>

    <div class="footer__contact">
      <p class="contact"><strong>Contact Info</strong></p>
      <p class="email">
        <b>Email: </b>
        <a href="mailto:BM00000@SpeedoTransfer.com"
          >BM00000&#64;SpeedoTransfer.com</a
        >
      </p>
      <p class="phone"><b>Phone:</b> 00000</p>
    </div>

    <div class="footer__rights">
      <p>All Rights Reserved for Speedo Transfer ©2024</p>
    </div>
  </div>
</footer>
